<!DOCTYPE html>
<html>
<head>

<title>Beauty</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/sindoor.webp">
<p>Sindoor</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/eyelash.webp">
<p>Eyelash</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/lipstick.webp">
<p>Lipstick</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/facewash.webp">
<p>Face Wash</p>
<p>Buy 10 at 100000</p>
</div>

<div class="product-card">
<img src="/static/images/foundation.webp">
<p>Foundation</p>
<p>Buy 10 at 70000</p>
</div>

<div class="product-card">
<img src="/static/images/lipgloss.webp">
<p>lipgloss</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/maskara.webp">
<p>Maskara</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/nightgel.webp">
<p>Night Gel</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>