<!DOCTYPE html>
<html>
<head>

<title>Books</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/anne.webp">
<p>Anne Frank</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/bag1.webp">
<p>School Bag1</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/bag2.webp">
<p>School Bag2</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/copy.webp">
<p>Copy</p>
<p>Buy 10 at 100000</p>
</div>

<div class="product-card">
<img src="/static/images/helen.webp">
<p>Helen Keller</p>
<p>Buy 10 at 70000</p>
</div>

<div class="product-card">
<img src="/static/images/mothergoose.webp">
<p>The Mother Goose</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/pen.webp">
<p>Pen</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/rudyard.webp">
<p>Rudyard Kepling</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>