<!DOCTYPE html>
<html>
<head>

<title>My Credit</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credits">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<hr>


<div class="credit-container">

<h2>Credit limit</h2>

<h2>Changes in Credit</h2>

</div>


</body>
</html>