<!DOCTYPE html>
<html>
<head>

<title>Furniture</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/Dining Table.webp">
<p>Dining Table</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/Sofa.webp">
<p>Sofa</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/Bed.webp">
<p>Bed</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/Wardrobe.webp">
<p>Wardrobe</p>
<p>Buy 10 at 100000</p>
</div>

<div class="product-card">
<img src="/static/images/Study Desk.webp">
<p>Study Desk</p>
<p>Buy 10 at 70000</p>
</div>

<div class="product-card">
<img src="/static/images/Nightstand.webp">
<p>Nightstand</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/Bookshelf.webp">
<p>Bookshelf</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/Chair.webp">
<p>Chair</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>