<!DOCTYPE html>
<html>
<head>

<title>Groceries</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/groceries.webp">
<p>Groceries</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/spices.webp">
<p>Spices</p>
<p>Buy 10 at 500000</p>
</div>

</div>

</body>
</html>