<!DOCTYPE html>
<html>
<head>
<title>RAAG.com</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credits">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">Account</a>
</div>

</div>

<div class="search-box">

<form action="/search" method="get">

<input 
type="text"
name="category"
placeholder="Search by category"
class="search-input"
>
<a href="/search"></a>
<button type="submit">Search</button>
</a>
</form>

</div>

<div class="container">

<a href="/womens" class="card">
<img src="/static/images/4_addece25-38ff-4970-8109-fbd4f424145d.webp">
<h3>Women Wear</h3>
</a>

<a href="/men" class="card">
<img src="/static/images/mens-clothing-with-personal-accessories-isolated-on-white-background.webp">
<h3>Mens Wear</h3>
</a>

<a href="/homeappliances" class="card">
<img src="/static/images/83f551e22a77d6c513ea6a61805fd643.webp">
<h3>Home Appliances</h3>
</a>

<a href="/beauty" class="card">
<img src="/static/images/360_F_493367969_hHVvtiTiYhIpCOZdpsHVaUA5onSodNH7.webp">
<h3>Beauty</h3>
</a>

<a href="/books" class="card">
<img src="static/images/books-yellow-book-reading.webp">
<h3>Books</h3>
</a>

<a href="/groceries" class="card">
<img src="/static/images/groceries-canned-food-bag-merchandise-shopping-bag-reusable-canvas-62892125.webp">
<h3>Groceries</h3>
</a>

<a href="/pharma" class="card">
<img src="/static/images/pharma.webp">
<h3>Pharmaceuticals</h3>
</a>

<a href="/kids" class="card">
<img src="/static/images/kids.webp">
<h3>Kids</h3>
</a>

<a href="/furniture" class="card">
<img src="/static/images/furniture.webp">
<h3>Furniture</h3>
</a>
 
</div>
</div>
</body>
</html>