<!DOCTYPE html>
<html>
<head>

<title>Home Appliances</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/mobile.webp">
<p>Mobile</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/laptop.webp">
<p>Laptop</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/computer.webp">
<p>Computer</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/bottle.webp">
<p>Bottle</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/noodles.webp">
<p>Noodles</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>