<!DOCTYPE html>
<html>
<head>

<title>Kids</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/Toys.webp">
<p>Toys</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/Teddy bear.webp">
<p>Teddy bear</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/Toy cars.webp">
<p>Toy cars</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/Baby shampoo.webp">
<p>Face Wash</p>
<p>Buy 10 at 100000</p>
</div>

<div class="product-card">
<img src="/static/images/Feeding bottles.webp">
<p>Feeding bottles</p>
<p>Buy 10 at 70000</p>
</div>

<div class="product-card">
<img src="/static/images/Diapers.webp">
<p>Diapers</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/Feeding bottles.webp">
<p>Feeding bottles</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/Puzzle toys.webp">
<p>Puzzle Toys</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>