<!DOCTYPE html>
<html>
<head>

<title>Mens Wear</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/mentshirt.webp">
<p>T shirt</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/menshirt.webp">
<p>Shirt</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/menkurta.webp">
<p>Kurta</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/menjeans.webp">
<p>Jeans</p>
<p>Buy 10 at 100000</p>
</div>

<div class="product-card">
<img src="/static/images/mensformaljeans.webp">
<p>Formal Jeans</p>
<p>Buy 10 at 70000</p>
</div>

<div class="product-card">
<img src="/static/images/mensjacket.webp">
<p>Jacket</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/menssweater.webp">
<p>sweater</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/menstrouser.webp">
<p>trouser</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>