<!DOCTYPE html>
<html>
<head>

<title>Orders</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credits">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- ORDERS HEADER -->

<div class="orders-header">

<h2>YOUR ORDERS</h2>

<input type="text" placeholder="Search Orders" class="search-orders">

</div>


<!-- ORDER TABS -->

<div class="order-tabs">

<a href="#">All Orders</a>
<a href="#">Buy Again</a>

</div>


<hr>


<!-- ORDER HISTORY -->

<div class="orders-content">

<h2>Dynamic Order History</h2>

</div>


</body>
</html>