<!DOCTYPE html>
<html>
<head>

<title>Pharma</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/Paracetamol.webp">
<p>Paracetamol</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/Ibuprofen.webp">
<p>Ibuprofen</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/Aspirin.webp">
<p>Aspirin</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/Cetirizine.webp">
<p>Cetirizine</p>
<p>Buy 10 at 100000</p>
</div>

<div class="product-card">
<img src="/static/images/Omeprazole.webp">
<p>Omeprazole</p>
<p>Buy 10 at 70000</p>
</div>

<div class="product-card">
<img src="/static/images/Loperamide.webp">
<p>Loperamide</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/Amoxicillin.webp">
<p>Amoxicillin</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/Metformin.webp">
<p>Metformin</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>