<!DOCTYPE html>
<html>
<head>

<title>Womens Wear</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="nav-left">
<a href="/">Home</a>
<a href="/orders">My Orders</a>
<a href="/credit">My Credit</a>
</div>

<div class="nav-right">
<a href="#">Make Call</a>
<a href="#">Wholesaler Login</a>
<a href="#">My Account</a>
</div>

</div>


<!-- PRODUCTS -->

<div class="products-container">

<div class="product-card">
<img src="/static/images/leh1.webp">
<p>Purple Wedding</p>
<p>Buy 10 at 50000</p>
</div>

<div class="product-card">
<img src="/static/images/leh2.webp">
<p>Red Shinny</p>
<p>Buy 10 at 500000</p>
</div>

<div class="product-card">
<img src="/static/images/leh3.webp">
<p>Pretty Seagreen</p>
<p>Buy 10 at 50000</p>
</div>


<!-- PRODUCTS -->

<div class="product-card">
<img src="/static/images/womenformaljeans.webp">
<p>Formal Jeans</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womenjacket.webp">
<p>Jacket</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womenjeans.webp">
<p>Jeans</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womenkurta.webp">
<p>Kurta</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womensaree.webp">
<p>Saree</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womenshirt.webp">
<p>Shirt</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womensweater.webp">
<p>Sweater</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womentrouser.webp">
<p>Trouser</p>
<p>Buy 10 at 80000</p>
</div>

<div class="product-card">
<img src="/static/images/womentshirt.webp">
<p>Tshirt</p>
<p>Buy 10 at 80000</p>
</div>

</div>

</body>
</html>